@using System.Web
@model IEnumerable<CarVm>


<div id="checkUser">
    <form asp-action="Index" method="get" asp-controller="User">
        <button type="submit">Check user</button>
    </form>
</div>
<div id="createCar">
    <form asp-action="Create" method="get" asp-controller="Car">
        <button type="submit">Create car</button>
    </form>
</div>
<div>
    <h2>Car list</h2>
    <div>
        <table class="table">
            <tr><th>Brand</th><th>Color</th><th>Year of release</th><th>Price</th></tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.BrandName</td>
                    <td>@item.ColorName</td>
                    <td>@item.YearRelese</td>
                    <td>@item.Price</td>
                    <td>
                        <form asp-controller="Car" asp-action="GetCar" method="get" asp-route-id="@item.Id" id="editCar">
                            <button type="submit">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form asp-controller="Car" method="post" asp-action="DeleteCar" asp-route-id="@item.Id" id="deleteCar">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
    </div>
</div>
<script src="~/js/hideDiv.js"></script>
