@using System.Web
@model IEnumerable<CarVm>
<div>
    <form asp-action="Create" asp-controller="Car">
        <input type="submit" value="Create car" />
    </form>
</div>
<div>
    <form asp-action="Index" asp-controller="User">
        <input type="submit" value="Chek users" />
    </form>
</div>
<div>
    <h2>Car list</h2>
    <div>
        <table class="table">
            <tr><th>Brand</th><th>Color</th><th>Year of release</th><th>Price</th></tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.BrandName</td>
                    <td>@item.ColorName</td>
                    <td>@item.YearRelese</td>
                    <td>@item.Price</td>
                    <td>
                        <form asp-controller="Car" asp-action="GetCar" method="get" asp-route-id="@item.Id">
                           <button type="submit">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form asp-controller="Car" method="post" asp-action="DeleteCar" asp-route-id="@item.Id">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
